<mat-card
  appearance="outlined"
  class="card-type-1"
  [class.has-selection]="appStateService.selectedWorkerID() !== null"
>
  <div class="worker-list">
    @for (worker of workersList; track worker.id) {
      <div
        class="worker-item"
        [class.selected]="worker.id === appStateService.selectedWorkerID()"
        (click)="onSelectWorker(worker.id)"
      >
        <i class="pi pi-user"></i>
        <span class="worker-name">{{ worker.name }}</span>

        @if (worker.id === appStateService.selectedWorkerID()) {
          <i class="pi pi-check check-icon"></i>
        }
      </div>
    }
  </div>
</mat-card>
