.app-wrapper {
    margin: 40px auto;
    padding: 32px;
    background: linear-gradient(110deg, #ffffff 60%, #4b87ff 40%);
    max-width: 1200px;
    border-radius: 16px 16px 0 0;
    position: relative;
    z-index: 1;
  }
  
  .app-wrapper-blue-bar {
    background: linear-gradient(110deg, #ffffff 45%, #4b87ff 5%);

    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 0 0 16px 16px;
    z-index: 0;
    position: relative;
    top: -8px;
  }
  