<div class="row">
    <div class="col-4 d-flex flex-column justify-content-end">
        <div class="ready-banner">
            <h2>READY</h2>
            <h2>TO TAKE </h2>
            <h2>OFF?</h2>
            <p>Click and select a worker to reveal their flights <i class="pi pi-arrow-down"></i></p>
        </div>
        <app-workers-list></app-workers-list>
    </div>
    <div class="col-5">
        <img src="../../../assets/airplane.png" alt="airplane-image" class="airplane  centered-img">
    </div>
    <div class="col-3 d-flex flex-column justify-content-end">
        <app-flight-info></app-flight-info>
    </div>
</div>
<div class="row">
    <app-flights></app-flights>

</div>
<!-- <div class="row">
    <div class="col-4 d-flex flex-column justify-content-start">
   
        <div class="ready-banner">
            <h2>READY</h2>
            <h2>TO TAKE </h2>
            <h2>OFF?</h2>
            <p>Click and select a worker to reveal their flights <i class="pi pi-arrow-down"></i></p>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
<div class="col-4">
    <img src="../../../assets/airplane.png" alt="airplane-image" class="airplane  centered-img">
    
</div>
<div class="col-8">

    <app-workers-list></app-workers-list>
</div>
        </div>
    </div>
</div>
<div class="row">
    <app-flights></app-flights>
    <app-flight-info></app-flight-info>

</div> -->
